/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Arial, sans-serif;
  color-scheme: dark;
  background-color: #121212;
  color: white;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100vh;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
